<%- include("header.ejs") %>


<h3 class="w3-center">Contact</h3>
<hr>
<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus.</p>

<form action="/action_page.php" target="_blank">
  <div class="w3-section">
    <label>Name</label>
    <input class="w3-input w3-border" type="text" required name="Name">
  </div>
  <div class="w3-section">
    <label>Email</label>
    <input class="w3-input w3-border" type="text" required name="Email">
  </div>
  <div class="w3-section">
    <label>Message</label>
    <input class="w3-input w3-border" required name="Message">
  </div>
  <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>
</form><br>

<%- include("footer.ejs") %>